.format-div-odd {
    background-color:honeydew;
    border-color:black;
    border-radius:10px;
}

.format-div-even {
    background-color:burlywood;
    border-color:black;
    border-radius:10px;
}

.image {


}


